<!DOCTYPE html>
<html>
<head>
    <title>About Movie</title>
</head>
<body>
    <style>
        body {
            background: linear-gradient(to bottom, #3c2e8b, #1b1b4b);
        
            background-size: cover;
            background-attachment: fixed;
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: auto;
            overflow-x: hidden;
        }
    </style>
    <h1>{{ movie_data.title }}</h1>
    <p>Release Date: {{ movie_data.release_date }}</p>
    <p>Overview: {{ movie_data.overview }}</p>
</body>
</html>